{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "handler": "./handler",
          "errors": "./errors",
          "tests": "./tests",
          "services": "./services"
        }
      }
    ]
  ]
}
