name: Testes E2E

on: [pull_request]

jobs:
  e2e-tests:
    name: Rodar testes E2E
    runs-on: ubuntu-latest

    steps:
      - name: Puxar o código do commit
        uses: actions/checkout@v2

      - name: Instalar o Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Cacheando dependencias
        id: cache_dependencies
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-dependencies-${{ hashFiles('./package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Instalar as dependências do npm
        if: steps.cache_dependencies.outputs.cache-hit != 'true'
        run: npm ci

      - name: Rodar testes
        run: npm test

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: reports/coverage/lcov.info
